@keyframes s-slide-bottom-enter {
    from {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes s-slide-bottom-leave {
    to {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes s-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes s-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.s-fade {
    &-enter-active {
        animation: 0.3s s-fade-in;
    }

    &-leave-active {
        animation: 0.3s s-fade-out;
    }
}

.s-slide-bottom {
    &-enter-active {
        animation: s-slide-bottom-enter 0.3s both ease;
    }

    &-leave-active {
        animation: s-slide-bottom-leave 0.3s both ease;
    }
}
